.main1-container{
 padding: 0;
 
  background-image:  url('./images/Cubes.svg'),
   url('./images/Swirl.svg'),
    linear-gradient(45deg, #0B101B, #020f0c) ;
  background-size: cover;
 background-position: no-repeat;
background-attachment: fixed;
  margin: 0;
  background-repeat: repeat;
  min-height: 100vh; 
  
overflow: hidden;
}
  
